<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <Component-Config>
        <Component name="componentPackages" config="componentPackages.xml" desc="Packaging new components"/>
        
        <Component name="mfLoggers" config="mfLoggers.xml" desc="MF Loggers"/>
        <Component name="mifLoggers" config="mifLoggers.xml" desc="MF Loggers"/>
        <Component name="notifierDefaultControllableConfig" config="notifierDefaultControllableConfig.xml" desc="?"/>

        <!-- FIL Configuration -->
        <Component name="filDebugLoggers" config="filDebugLoggers.xml" desc="FIL Debug Loggers"/>
        <Component name="filMessageLoggers" config="filMessageLoggers.xml" desc="FIL Message Loggers"/>
        <Component name="filConfigurations" config="filConfigurations.xml" desc="FIL Configuration Files"/>
        <Component name="filEmailNotifiers" config="filEmailNotifiers.xml" desc="FIL Email Notifiers"/>
        <Component name="filExceptionLoggers" config="filExceptionLoggers.xml" desc="FIL Exception Loggers"/>
        
        <Component name="afwConfig" config="afwConfig.xml" desc="AFW Configuration file"/>

        <!-- ART Configuration -->
        <Component name="artConfig" config="artConfig.xml" desc="ART Configuration File"/>

	<!-- SOA Framework Configuration -->
	<Component name="soaServiceConfigurations" config="soaServiceConfigurations.xml" desc="SOA Service Configurations"/>         
	<Component name="soaLoggerConfigurations" config="soaLoggerConfigurations.xml" desc="SOA Loggers"/>   
	<Component name="soaServiceAuditRecordConfigurations" config="soaServiceAuditRecordConfigurations.xml" desc="SOA Audit record configurations"/>
	<Component name="soaProxyConfigurations" config="soaProxyConfigurations.xml" desc="Proxy Generator Configurations file" />        
				     				     
       	<!-- Persistence Interface Component Configuration Components -->
	<Component name="PICConfig" config="PICConfig.xml" desc="PIC configuration"/>

 	<!-- Transaction Framework Configuration Components -->
	<Component name="transactionConfig" config="transactionConfig.xml" desc="Transaction Config"/>
	
	<Component name="xpmConfig" config="xpmConfig.xml" desc="XPM Configuration File"/>
	
	<!-- IVO Application Configuration File -->
	<Component name="ivoAppConfig" config="ivoAppConfig.xml" desc="InvoicePodium Application Configuration File"/>
	<Component name="ivoToplinkLogger" config="ivoToplinkLogger.xml" desc="InvoicePodium Application toplink log File"/>
	
	<!-- IVO Schedule Configuration File -->
	<Component name="schedulerConfig" config="schedulerConfig.xml" desc="InvoicePodium Schedule Configuration File"/>
	<Component name="schedulerLogger" config="schedulerLogger.xml" desc="InvoicePodium Schedule log File"/>
		
    </Component-Config>

    <Global-Var>
		<var name="IS_DATABASE_BACKUP" value="false"/>
	        <var name="JNDI_DNS" value="jdbc/ConfigEnhancementDS"/>
	        
		<var name="GLOBAL_DEBUG_LOG_ENABLED" value="true"/> 
		<!-- AUTO_START_MESSAGE_RECEIVERS's default value is true if it is not set-->
		<!--
		<var name="AUTO_START_MESSAGE_RECEIVERS" value="false"/> 
		-->
		<var name="AUTO_START_MESSAGE_RECEIVERS" value="false"/> 
		<!-- AUTO_START_RECOVERY_RECEIVERS's default value is true if it is not set-->
		<var name="AUTO_START_RECOVERY_RECEIVERS" value="false"/> 
		<!-- USE_JNDI_ENV_PARM's default valse is false if it is not set -->
		<var name="USE_JNDI_ENV_PARM" value="false"/> 
		<!-- PRESERVE_BACKARD_COMPATIBILITY's default value is false if it is not set -->
		<!-- This is a work around so as to disable writeChanges for release 13.3 -->
		<var name="PRESERVE_BACKWARD_COMPATIBILITY" value="false"/>
		<!-- in R2.9 MF upgrade to 5.0.1 -->
		<var name="MF_PROPERTIES_PRESERVE_BACKWARD_COMPATIBILTY" value="true"/>


    </Global-Var>
</Config>
